<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Generate</servlet-name>
        <servlet-class>pl.polsl.matchstatisticsweb.servlets.GenerateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlayerA</servlet-name>
        <servlet-class>pl.polsl.matchstatisticsweb.servlets.AddPlayerAServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlayerB</servlet-name>
        <servlet-class>pl.polsl.matchstatisticsweb.servlets.AddPlayerBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearPlayers</servlet-name>
        <servlet-class>pl.polsl.matchstatisticsweb.servlets.ClearPlayersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPlayers</servlet-name>
        <servlet-class>pl.polsl.matchstatisticsweb.servlets.CheckPlayersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearData</servlet-name>
        <servlet-class>pl.polsl.matchstatisticsweb.servlets.ClearDatabaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WatchData</servlet-name>
        <servlet-class>pl.polsl.matchstatisticsweb.servlets.WatchDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Generate</servlet-name>
        <url-pattern>/Generate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlayerA</servlet-name>
        <url-pattern>/AddPlayerA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlayerB</servlet-name>
        <url-pattern>/AddPlayerB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearPlayers</servlet-name>
        <url-pattern>/ClearPlayers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPlayers</servlet-name>
        <url-pattern>/CheckPlayers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearData</servlet-name>
        <url-pattern>/ClearData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WatchData</servlet-name>
        <url-pattern>/WatchData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
